<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CCU" value="TRUE"/>
    <add key="PCU" value="FALSE"/>
    <add key="COM_INDEX" value="0"/>
    <add key="COM_PORT" value="COM1"/>
    <add key="CCU_FILE_PATH" value="c://"/>
    <add key="PCU_FILE_PATH" value="d://"/>
  </appSettings>
</configuration>